.game-selection-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  &__online-players {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__game-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      font-size: 24px;
      color: white;
      font-family: var(--font);
    }
    button {
      margin: 0;
    }
  }
}
