@font-face {
  font-family: "Arcade Adventure";
  src: url("./assets/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Arcade Adventure Bold";
    src: url("./assets/fonts/Kanit-Bold.ttf") format("truetype");
  }

:root {
    --font: "Arcade Adventure";
    --font-bold: "Arcade Adventure Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #369064;
}

//Pages
@import "../src/styles/pages/user-create.scss";
@import "../src/styles/pages/game-selection.scss";

//Blocks
@import "../src/styles/blocks/nav-bar.scss";

//components
@import "../src/styles/components/button.scss";
@import "../src/styles/components/profile-image.scss";
@import "../src/styles/components/image-slider.scss";
@import "../src/styles/components/username-input.scss";
